*{
    
    color: white;
}

#blue{
   
    background-color: blue;
    color: white;
}
.content{
background-color: rgb(255, 0, 0);

}
.hogalala{
background-color: pink;

}
.big{
background-color: blueviolet;

}
.sleep{
    color: black;
}
.very{
    color:black;
}
.knight{
background-color: purple;
}
.kala{
    background-color: rgb(255, 0, 221);
color: black;
}
.red{
    color: black;
}
.hp{
    background-color: darkmagenta;
}